.file-uploader__header {
    display: flex;
    flex-direction: row;

    padding: 3px;

    border: 1px solid #cfcfcf;
    color: #747474;
    background-color: #DCDCDC;
    text-shadow: #A8A8A8 2px;
}

.file-uploader__input {
    display: none;
}

.file-uploader__form {
    flex-direction: row;
}

