.file-uploader {
    display: flex;
    flex-direction: column;

    flex-shrink: 0;

    border: 1px solid #DCDCDC;

    margin-bottom: 10px;

    margin-right: 20px;

    box-shadow: 2px;

    width: 100%;
}

.file-uploader__header {
    height: 15px;

    display: flex;
    justify-content: space-between;

    padding: 3px;

    border: 1px solid #cfcfcf;
    color: #747474;
    background-color: #DCDCDC;
    text-shadow: #A8A8A8 2px;
}

.file-uploader__form {
    display: flex;
    /*justify-content: space-between;*/

    background-color: #eeeeee;

    padding: 4px;

    color: #545454;

    align-items: center;
}

.file-uploader__form-input {
    display: none;
}

.file-uploader__form-label {
    margin: 0 10px;
    min-width: 200px;
    min-height: 20px;
    border-bottom: 1px solid #a5a5a5;
}

.file-uploader__form-button {
    height: 22px;
    width: 22px;

    min-width: 22px;

    padding: 2px;

    background-color: rgb(255, 82, 82);
    background-image: url('./../images/upload-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;

    border-radius: 50%;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-size: 15px;

    cursor: pointer;
}
