.header {
    display: flex;

    justify-content: space-between;

    flex-shrink: 0;

    background-color: #1A9789;

    padding: 10px;
    margin: 0 0 10px 0;
}

.header__icon {
    color: white;
}

.header__title {
    color: #f9f9f9;

    padding: 10px;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__part-of {
    color: #C3EEEB;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__image {
    height: 30px;
    width: 30px;
}

.header__button {
    width: 30px;
    height: 30px;

    text-align: center;

    color: #fff;

    border-radius: 50%;

    background-color: #37DECA;
}
