.header {
    display: flex;
    justify-content: space-between;

    flex-shrink: 0;

    background-color:#1A9789 ;
    padding: 5px;
}

.header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__circul {
    padding: 10px;

    color: #D4FFFF;
}

.header__title {
    color: #D4FFFF;

    padding: 10px;
}

.header__icon-star {
    color: #D4FFFF;
}

.header__right {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #D4FFFF;
}

.header__right-part-of {
    padding: 10px;
}

